*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header .header-panel{
    width: 100%;
    height: 40px;
}
.header-items {
    display: flex;
    justify-content: right;
    padding: 10px 40px;
    border-radius: 3px;
    list-style: none;
}

.header-items li a {
    font-size: 14px;
    color: #2a8aba;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
}
.header-items li i {
    padding: 6px;

}
.header-items li:hover {
    background-color: #d1e0e5;
    transition: 0.5s;
}

.menu {
    background-color: #009ce9;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.juguetimagic {
    width: 25%;
}
.logo-juguetimagic {
    width: 240px;
    margin-left: 20px;
}

.menu-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: 0 20px;
}

.menu-items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu-items li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #fff;
    padding: 0 7px;
}

.menu-items li:hover{
    background-color: #3bc0f4;
    transition: 0.5s;
}

.button-buscar {
    background-color: #fff;
    border-bottom: #009ce9;
}

.carousel-inner {
    margin: 20px 0;
}
